.user-list {
    position: absolute;
    top: 36%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 150px;
    height: 100px;
}

.title {
    text-align: center;
    width: 100%;
    font-size: large;
}

.margin-top-44 {
    margin-top: 44px;
}